extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template
	link(href='../css/external.css' rel='stylesheet')
	link(href='../css/dashboard.css' rel='stylesheet')
block body  
	+navbar-fixed("DJJTdev", "navbar-fixed-top", "inverse")
		+nav_item("#") Features
		+nav_item("#") Contact
		+nav_item("#","active") Login