extends default

block body
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') DJJTbot
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') Dashboard
                    li
                        a(href='#') Settings
                    li
                        a(href='/') Logout
    .container-fluid
        .row
            .col-sm-2.col-md-2.sidebar
                ul.nav.nav-sidebar
                    li.active
                        a(href="#")
                            | Chatbot
                            span.sr-only (current)
                    li
                        a(href="#") Plug-ins
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Dashboard
                .row.placeholders
                    .col-xs-6.col-sm-3.placeholder
                        H2 Big ol' Yeet 
                h2.sub-header Commands 
                .table-responsive
                    table.table.table-striped
                        thead
                            tr  
                                th I.D #
                                th Command
                                th Message
                                th.center 
                                    a(data-toggle="modal" data-target="#modalForm" class="btn btn-primary btn-xs") Add Command
                                    //- modal form
                                    .modal.fade(id="modalForm" tabindex="-1" role="dialog" aria-labelledby="#{id}Label" aria-hidden="true")
                                        .modal-dialog
                                            .modal-content
                                                .modal-header
                                                    button.close(type="button" data-dismiss="modal")
                                                        span(aria-hidden="true") &times;
                                                        span.sr-only Close
                                                    h4.modal-title(id="") Add Command
                                                .modal-body
                                                    +input("input","cmd-name","Enter the Command's Name","Command", "command")
                                                    +input("input","cmd-msg","Enter the Command's Message", "Message", "message")
                                                .modal-footer
                                                    button.btn.btn-default(type="button" data-submit="modal") Submit
                                                    button.btn.btn-default(type="button" data-dismiss="modal") Close
                        tbody
                            each cmd, x in dataList[0]
                                tr
                                    td #{x + 1}
                                    td #{cmd}
                                    td #{dataList[1][x]}
                                    td.center
                                        button.btn.btn-warning.btn-xs.margin(method="PUT") edit
                                        button.btn.btn-danger.btn-xs.margin(method="DELETE") delete