extends default
append body
	.jumbotron
		.container
			h1 DJJTbot
			p 
				|Our chatbot works cohesively within twitch channel chats, both assisting and enhancing the chat experience for viewers and streamers.
			p
				a.btn.btn-primary.btn-lg(onclick='#{}', href='/home', role='button') Connect »