extends default

block content
    div.navbar
        div.dropdown
            button#nav-sign Login
            div.dropdown-content
                a(href='/') Login
                a(href='/signup') Sign up
    form(action="/home", method="GET")
        h2 Sign up here,
        a#small-text-sign(href="/") Already an existing user? 
        div.form-group
            div.input-group
                input#field(type='text', name='username', value='', placeholder="Username")
            div.input-group
                input#field(type='text', name='email', value='', placeholder="Email Address")
            div.input-group
                input#field(type='text', name='password', value='', placeholder="Password")
            div.input-group
                input#field(type='text', name='confirm-pw', value='', placeholder="Confirm Password")
        input(class='btn-submit', type='submit', value='Sign up')
