extends default

block content
    form(action="/home", method="GET")
        h2 Command Form,
        div.form-group
            span#small-text-bot Command Name
            div.input-group
                input#field(type='text', name='cmd_name', value='', placeholder="i.e: !twitter")
            span#small-text-bot Command Text
            div.input-group
                textarea(id='field', rows="6", cols="30", type='text', name='cmd_text', value='', placeholder="i.e: Follow me on twitter @taylordoubleu")
            div.input-group
        input(class='btn-submit', type='submit', value='Add Command')