/*general use*/
body {
    font-size: 1.7rem;
}

/*broad use*/
.center {
    text-align: center;
}
.margin {
    margin: auto 8px;
}

/*case use*/
    /* separate nav on index.pug */
ul.nav.navbar-nav {
    float: right;
}
